/*GLOBAL*/
*, *::before, *::after {
	box-sizing: border-box;
}

#pages {
    > * {
      display: none;
    }

    > .active {
      display: block;
    }
}

.row {
    margin-right: 0;
    margin-left: 0;
}

body {
    margin: 0;
    background: $background-color;
    font-size: 16px;
    line-height: 1.7;
    font-family: $brand-font;
    color: #2c2c54;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    text-align: center center;
}

.top-bar-main-section-wrapper {
    background-color: $background-color;
    margin-left: 16.6666667%;
    padding-left: 0;
    padding-right: 0;
}

/*SIDEBAR*/
.sidebar {
    background-color: $paragraph-color;
    padding-right: 0;
    padding-left: 0;
    height: 100vh;
    position: fixed;
    z-index: 3;
}

/*TOP BAR*/
.top-bar {
    justify-content: flex-end;
    height: $top-bar-height;
    width: 100%;
    position: fixed;
    background-color: $color-white;
    border-bottom: $border-line;
    z-index: 2;

    .top-bar--wrapper {
        justify-content: flex-end;
        padding-right: 16.566666%;
    }
}

/*MAIN SECTION*/
.main-section {
    width: 100%;
    padding-top: 60px;
    z-index: 1;
}

/*MEDIA QUERIES*/

@media (max-width: 330px) {
    .links-list a {
        flex: auto;
    }
}

@media (max-width: 450px) {
    .top-bar {
        height: 30px !important;
        border-bottom: none;
    }

    .top-bar--price-wrapper {
        padding: 0 5px 0 5px !important;
    }

    .top-bar--notification-wrapper{
        padding: 15px 5px 15px 5px !important;
    }

    .top-bar--login-wrapper {
        padding: 0 5px 0 5px !important;
    }

    .top-bar--exit{
        padding: 15px 5px 15px 5px !important;
    }
}

@media (min-width: 450px) and (max-width: 570px) {
    .top-bar--price-wrapper {
        padding: 0 5px 0 5px !important;
    }

    .top-bar--notification-wrapper{
        padding: 15px !important;
    }

    .top-bar--login-wrapper {
        padding: 0 5px 0 5px !important;
    }

    .top-bar--exit{
        padding: 15px !important;
    }
}

@media (max-width: 674px) {
    .links-list {
        justify-content: center;
    }

    .links-list p {
        max-width: 100%;
        flex: auto;
        left: 20.6666%;
    }
}

@media (max-width: 900px){
    .top-bar-main-section-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .sidebar{
        max-width: 100%;
        height: auto;

        .sidebar-logo {
            position: fixed;
        }

        .sidebar-menu {
            display: none;
        }

        .active {
            display: block;
        }
    }

    .sidebar--list {
        margin: 1% 0 2% 0 !important;
    }

    .top-bar-main-section-wrapper {
        margin-left: 0;
        max-width: 100%;
    }

    .top-bar {
        border-top: $border-line;
        position: static;
        height: auto;
    }

    .top-bar--wrapper{
        justify-content: center !important;
        padding-right: 0 !important;
    }

    .links-list {
        margin: 0 5% 0 5% !important;
    }

    .links-list a {
        max-width: 100%;
    }

    .general-statistic--date {
        min-width: 250px;
    }

    .general-statistic--four-box {
        min-width: 136px;
    }
}

@media (min-width: 1045px) and (max-width: 1220px){
    .sidebar--logo h1 {
        font-size: 16px !important;
        margin: 17px 0 0 0;
    }

    .general-statistic--date {
        min-width: 250px;
    }

    .general-statistic--four-box {
        min-width: 136px;
    }
}
@media (min-width: 900px) and (max-width: 1044px) {
    .sidebar--logo h1 {
        font-size: 16px !important;
        margin: 17px 0 0 0;
        padding-right: 0;
    }

    .general-statistic--date {
        min-width: 250px;
    }

    .general-statistic--four-box {
        min-width: 136px;
    }
}
