/* Colors */
$paragraph-color: #191919;
$login-color: #56819f;
$color-white: #ffffff;
$font-color: #9c9c9c;
$background-color: #f5f5f2;
$button-color: #f58220;
$hover-color: #282828;
$active-color: #04ae00;

/*Global*/
$border-line: solid 1px $font-color;
$border-radius: 7%;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$weight-font: 700;

/* Top bar */
$top-bar-height: 60px;
$top-bar-horizontal-padding: 25px;