.general-statistic {
    background-color: $color-white;
    box-shadow: 1px 1px 3px $font-color;
    margin-top: 2%;
    padding: 0;
}

.links {
    background-color: $color-white;
    box-shadow: 1px 1px 3px $font-color;
    margin: 2% 0 2% 0;
    padding: 0;
}
